.copy {
  text-align: center;
  cursor: pointer;
  background-color: #C4C4C4;
  display: flex;
  color: #141414;
  border-radius: 3px;
}

.copy .text {
  display: inline-block;
  width: auto;
  flex: 1;
  padding: 8px;
  font-weight: 800;
}

.copy button {
  margin: 0;
  border: 0;
  cursor: pointer;
  background-color: #fefefe;
  border-radius: 3px;
}
